
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="min-height:400px">
    <div class="form-group text-center">
        <div class="card">
            <div class="card-body">
                <div class="card-subtitle"> It doesn't seem like you've generated a plan for today.</div>
                <br />
                <a class="btn btn-primary" href="@Url.Action("/DailyPlan")">
                    Generate a Meal Plan!
                </a>
            </div>
            
        </div>
        
    </div>
</div>