<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Demo Meal Plan | Meal Planner</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
 @*   <script src="~/Scripts/meal-planner.js"></script>*@
    <style>
        .header-image {
            position: relative;
            height: auto;
            width: 100%;
            overflow: hidden;
        }

        img {
            position: relative;
            width: 100%;
            max-height: 200px;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <h1>Demo Meal Plan - Using 2000 Calories</h1>
    @{
                    /**/

                    var demo = ViewBag.Message;


                    foreach (var m in demo["meals"])
                    {
                        <div class="card" style="margin-bottom: 10px;">
                            <div class="card-body">
                                <h4 class="card-title">@m["title"]</h4>
                                <h6 class="text-muted card-subtitle mb-2">Serves @m["servings"]</h6>
                                <h6 class="text-muted card-subtitle mb-2">Ready In @m["readyInMinutes"] Minutes</h6>
                                <p class="card-text">ID: @m["id"]</p>
                            </div>
                        </div>

                    }
    }
</body>
</html>