
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<html>
<head>
    @*<script src="~/Scripts/jquery-3.3.1.js"></script>
        <script src="~/Scripts/popper.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/meal-planner.js"></script>
        <title>Home | Register</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MealPlanner | Register</title>
    <link rel="stylesheet" href="~/Assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="~/Assets/css/Login-Form-Clean.css">

    <style>
        body {
            background-color: rgb(241,247,252);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="@Url.Action("")">MealPlanner</a><button data-toggle="collapse" data-target="#navbarResponsive"
                                                                                     class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
                                                                                     aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1" role="presentation">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="@Url.Action("/SignIn")">Sign In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="min-height: 120px;"></div>
    <div class="login-clean">
        <form method="post" style="max-width: 600px;">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate" style="color: rgb(24,188,156);"></i></div>
            <div class="form-group">
                <input class="form-control" required id="fname" type="text" name="fname" placeholder="First Name">
                <input class="form-control" required type="text" name="lname" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input class="form-control" required id="email" type="email" name="email"
                       placeholder="Email">
            </div>
            <div class="form-group">
                <input class="form-control" required id="age" type="number" min="1" max="110" name="age" placeholder="Age">
            </div>
            <div class="form-group">
                <input class="form-control" required id="password" type="password" name="password"
                       placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" required id="confirmpassword" type="password"
                       name="confirmpassword" placeholder="Confirm Password">
            </div>
            <h6 class="text-center" style="font-family: Lato, sans-serif;">Fitness Goal</h6>
            <div class="form-group text-center">
                <div class="btn-group btn-group-sm" role="group">
                    <button class="btn btn-success" id="loseWeight"
                            type="button">
                        Lose Weight
                    </button><button class="btn btn-secondary" id="maintainWeight"
                                     type="button">
                        Maintain
                    </button><button class="btn btn-secondary" id="gainWeight"
                                     type="button">
                        Gain Weight
                    </button>
                </div>
            </div>
            <h6 class="text-center" style="font-family: Lato, sans-serif;">Gender</h6>
            <div class="form-group text-center">
                <div class="btn-group btn-group-sm" role="group">
                    <button id="genderMale" class="btn btn-success" type="button">Male</button>
                    <button id="genderFemale" class="btn btn-secondary" type="button">Female</button>
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" required id="heightFeet" type="number" min="0" max="8" name="heightFeet"
                       placeholder="Height (Feet)">
                <input class="form-control" required id="heightInches" type="number" min="0" max="11" name="heightInches"
                       placeholder="Height (in)">
            </div>
            <div class="form-group">
                <input class="form-control" required id="weight" type="number" min="50" max="999" name="weight"
                       placeholder="Weight (lbs)">
            </div>
            <div class="form-group text-center">
                <label>Activity Level</label>
                <select required id="activityLevel" class="col-5">
                    <option val="1">Sedentary</option>
                    <option val="2">Lightly Active</option>
                    <option val="3" selected> Moderately Active</option>
                    <option val="4">Very Active</option>
                    <option val="5">Extra Active</option>
                </select>

            </div>
            <div id="lossGoals" class="form-group text-center">
                <input class="form-control" id="weightGoal" type="number" min="50" max="999" name="weightGoal" placeholder="Weight Goal">
                <input class="form-control" id="daysToGoal"  type="number" min="1" max="999" name="daysToGoal"
                       placeholder="Days to reach Weight Goal">

            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit"
                        id="registerButton" style="background-color: rgb(24,188,156);">
                    Sign Up
                </button>
            </div>
            <hr><a class="forgot" href="@Url.Action("/SignIn")">Existing User? Login!</a>
        </form>
    </div>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0"></div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase">Follow US!</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" role="button"
                               href="#"><i class="fa fa-facebook fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" role="button"
                               href="#"><i class="fa fa-instagram fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" role="button"
                               href="#"><i class="fa fa-twitter fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item"></li>
                    </ul>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </footer>
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright © MealPlanner 2019</small></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="~/Assets/js/freelancer.js"></script>
</body>
</html>
