
@{
    ViewBag.Title = "SignIn";
    Layout = null;
}

<html>
<head>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MealPlanner | Sign In</title>
    <link rel="stylesheet" href="~/Assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="~/Assets/css/Login-Form-Clean.css">
    @*<script src="~/Scripts/meal-planner.js"></script>*@
    <style>

        body {
            background-color: rgb(241,247,252);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="@Url.Action("")">MealPlanner</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" aria-controls="navbarResponsive"
                                                                                              aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="@Url.Action("/SignIn")">Sign In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="min-height: 120px;"></div>
    <div class="login-clean">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate" style="color: rgb(24,188,156);"></i></div>
            <div class="form-group"><input class="form-control" id="email" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" id="password" type="password" name="password" placeholder="Password"></div>
            <div class="form-group">
                <input id="SignInButton" type="button"
                       value="Sign In"
                       class="btn btn-primary btn-block"
                       style="background-color: rgb(24,188,156);"
                       onclick="location.href='@Url.Action("SignIn","User")'" />
            </div>

            <a class="forgot" href="#">Forgot your email or password?</a>
            <hr><a class="forgot" href="@Url.Action("/Register")">New User? Create an account!</a>
        </form>
    </div>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0"></div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase">Follow US!</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="#"><i class="fa fa-instagram fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item"></li>
                    </ul>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </footer>
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright © MealPlanner 2019</small></div>
    
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="~/Assets/js/freelancer.js"></script>
</body>
</html>

