
@{
    ViewBag.Title = "SignIn";
    Layout = null;
}

<html>
<head>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/meal-planner.js"></script>
    <title>Home | Sign In</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <label>Email Address:</label>
        <input type="email" placeholder="Enter Email" id="email" class="col-1" /><br />
        <label>Password:</label>
        <input type="password" placeholder="Enter Password" id="password" class="col-1" /><br />
    </div>
    <div>
        <button id="SignInButton">SignIn</button>
    </div>

</body>
</html>

