USE [master]
GO
/****** Object:  Database [MealPlanner]    Script Date: 4/29/2019 8:10:01 PM ******/
CREATE DATABASE [MealPlanner]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MealPlanner', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MealPlanner.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MealPlanner_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MealPlanner_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MealPlanner].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MealPlanner]
GO
/****** Object:  Table [dbo].[AllergiesStats]    Script Date: 4/29/2019 8:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllergiesStats](
	[AllergiesStatsId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Gluten] [bit] NOT NULL,
	[Peanut] [bit] NOT NULL,
	[Eggs] [bit] NOT NULL,
	[Dairy] [bit] NOT NULL,
	[Soy] [bit] NOT NULL,
	[Onion] [bit] NOT NULL,
	[Nuts] [bit] NOT NULL,
	[Seafood] [bit] NOT NULL,
 CONSTRAINT [PK_AllergiesStats] PRIMARY KEY CLUSTERED 
(
	[AllergiesStatsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BodyStats]    Script Date: 4/29/2019 8:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BodyStats](
	[BodyStatId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Height] [float] NOT NULL,
	[Weight] [float] NOT NULL,
	[TargetWeight] [float] NOT NULL,
	[TargetCalories] [float] NOT NULL,
	[TargetDays] [int] NOT NULL,
	[BMI] [float] NOT NULL,
	[ActivityLevel] [int] NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [int] NOT NULL,
	[AddDate]  AS (getdate()),
 CONSTRAINT [PK_BodyStats_1] PRIMARY KEY CLUSTERED 
(
	[BodyStatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food_Eaten_By_Day]    Script Date: 4/29/2019 8:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food_Eaten_By_Day](
	[EntryId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[API_Id_List] [nchar](10) NOT NULL,
	[Date] [date] NOT NULL,
	[TotalCalories] [float] NOT NULL,
 CONSTRAINT [PK_Food_Eateb_By_Day] PRIMARY KEY CLUSTERED 
(
	[EntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 4/29/2019 8:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[FoodId] [int] NOT NULL,
	[FoodName] [nvarchar](50) NOT NULL,
	[API_Id] [int] NOT NULL,
	[isBreakfast] [bit] NOT NULL,
	[isLunch] [bit] NOT NULL,
	[isDinner] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/29/2019 8:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BodyStats] ON 

INSERT [dbo].[BodyStats] ([BodyStatId], [UserId], [Height], [Weight], [TargetWeight], [TargetCalories], [TargetDays], [BMI], [ActivityLevel], [Age], [Gender]) VALUES (17, 1, 157.5, 52.2, 52.2, 1366, 34, 21.043083900226758, 0, 27, 0)
INSERT [dbo].[BodyStats] ([BodyStatId], [UserId], [Height], [Weight], [TargetWeight], [TargetCalories], [TargetDays], [BMI], [ActivityLevel], [Age], [Gender]) VALUES (22, 8, 165, 65.25, 65.25, 1459, 36, 23.966942148760332, 0, 44, 0)
INSERT [dbo].[BodyStats] ([BodyStatId], [UserId], [Height], [Weight], [TargetWeight], [TargetCalories], [TargetDays], [BMI], [ActivityLevel], [Age], [Gender]) VALUES (25, 11, 167.5, 69.75, 69.75, 1418, 55, 24.860770773000667, 2, 33, 1)
SET IDENTITY_INSERT [dbo].[BodyStats] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Email], [Password]) VALUES (1, N'jingfei2', N'zhang22', N'jingfei@student.fairfield.edu', N'123434')
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Email], [Password]) VALUES (2, N'Jingfei1', N'zhang1', N'123@gmail.com', N'12345')
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Email], [Password]) VALUES (3, N'Mary', N'Smith', N'mary@gmail.com', N'123456')
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[AllergiesStats] ADD  CONSTRAINT [DF_AllergiesStats_Gluten]  DEFAULT ((0)) FOR [Gluten]
GO
ALTER TABLE [dbo].[AllergiesStats] ADD  CONSTRAINT [DF_AllergiesStats_Peanut]  DEFAULT ((0)) FOR [Peanut]
GO
ALTER TABLE [dbo].[AllergiesStats] ADD  CONSTRAINT [DF_AllergiesStats_Eggs]  DEFAULT ((0)) FOR [Eggs]
GO
ALTER TABLE [dbo].[AllergiesStats] ADD  CONSTRAINT [DF_AllergiesStats_Dairy]  DEFAULT ((0)) FOR [Dairy]
GO
ALTER TABLE [dbo].[AllergiesStats] ADD  CONSTRAINT [DF_AllergiesStats_Soy]  DEFAULT ((0)) FOR [Soy]
GO
ALTER TABLE [dbo].[AllergiesStats] ADD  CONSTRAINT [DF_AllergiesStats_Onion]  DEFAULT ((0)) FOR [Onion]
GO
ALTER TABLE [dbo].[AllergiesStats] ADD  CONSTRAINT [DF_AllergiesStats_Nuts]  DEFAULT ((0)) FOR [Nuts]
GO
ALTER TABLE [dbo].[AllergiesStats] ADD  CONSTRAINT [DF_AllergiesStats_Seafood]  DEFAULT ((0)) FOR [Seafood]
GO
ALTER TABLE [dbo].[BodyStats] ADD  CONSTRAINT [DF_BodyStats_ActivityLevel]  DEFAULT ((0)) FOR [ActivityLevel]
GO
ALTER TABLE [dbo].[BodyStats] ADD  CONSTRAINT [DF_BodyStats_Gender]  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[BodyStats]  WITH CHECK ADD  CONSTRAINT [FK_BodyStats_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[BodyStats] CHECK CONSTRAINT [FK_BodyStats_User]
GO
/****** Object:  StoredProcedure [dbo].[spAddNewBodyStats]    Script Date: 4/29/2019 8:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAddNewBodyStats]
@UserId INT,
@Height FLOAT,
@Weight FLOAT,
@TargetWeight FLOAT,
@TargetCalories FLOAT,
@TargetDays INT,
@BMI FLOAT,
@ActivityLevel NVARCHAR(30),
@Age int,
@Gender bit

AS
BEGIN
INSERT INTO dbo.[BodyStats]
OUTPUT Inserted.BodyStatId
VALUES
(
@UserId,
@Height,
@Weight,
@TargetWeight ,
@TargetCalories,
@TargetDays,
@BMI,
@ActivityLevel,
@Age,
@Gender

)

END
GO
/****** Object:  StoredProcedure [dbo].[spAddNewUser]    Script Date: 4/29/2019 8:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAddNewUser]
@FirstName nvarchar(50),  
@LastName nvarchar(50),  
@Email nvarchar(50),
@Password  nvarchar(50)
as  
Begin  
 Insert into dbo.[User](FirstName, LastName, Email, [Password])  
 Values (@FirstName, @LastName, @Email, @Password)  
End
GO
/****** Object:  StoredProcedure [dbo].[spDeleteBodyStats]    Script Date: 4/29/2019 8:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spDeleteBodyStats]
@BodyStatId int
as
Begin
 Delete from dbo.BodyStats
 where BodyStatId = @BodyStatId
End
GO
/****** Object:  StoredProcedure [dbo].[spDeleteUser]    Script Date: 4/29/2019 8:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spDeleteUser]
@UserID int
as
Begin
 Delete from dbo.[User] 
 where UserID = @UserID
End
GO
/****** Object:  StoredProcedure [dbo].[spGetAllBodyStats]    Script Date: 4/29/2019 8:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spGetAllBodyStats]
@UserId int
as
Begin
 Select BodyStatId, UserId, Height, [Weight], TargetWeight, TargetCalories, TargetDays, BMI, ActivityLevel,Age, Gender, AddDate
 from dbo.BodyStats
 where UserId= @UserId
End
GO
/****** Object:  StoredProcedure [dbo].[spGetUser]    Script Date: 4/29/2019 8:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spGetUser]
@UserID int
as
Begin
 Select FirstName, LastName, Email, [Password]
 from dbo.[User]
 where UserID= @UserID
End
GO
/****** Object:  StoredProcedure [dbo].[spGetUserId]    Script Date: 4/29/2019 8:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spGetUserId]
@BodyStatId int
as
Begin
 Select UserId from dbo.BodyStats
 where BodyStatId = @BodyStatId
End
GO
/****** Object:  StoredProcedure [dbo].[spGetUserIdOnName]    Script Date: 4/29/2019 8:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spGetUserIdOnName]
@FirstName nvarchar(50),
@LastName nvarchar(50)
as
Begin
 Select UserId from dbo.[User]
 where FirstName=@FirstName 
 AND LastName=@LastName
End
GO
/****** Object:  StoredProcedure [dbo].[spSaveBodyStats]    Script Date: 4/29/2019 8:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[spSaveBodyStats]
@BodyStatId int,
@Height FLOAT,
@Weight FLOAT,
@TargetWeight FLOAT,
@TargetCalories FLOAT,
@TargetDays INT,
@BMI FLOAT,
@ActivityLevel NVARCHAR(30),
@Age int,
@Gender bit
as
Begin
 Update dbo.BodyStats
 SET
 Height=@Height, 
 [Weight]=@Weight, 
 TargetWeight=@TargetWeight, 
 TargetCalories=@TargetCalories, 
 TargetDays=@TargetDays, 
 BMI=@BMI, 
 ActivityLevel=@ActivityLevel,
 Age=@Age , 
 Gender=@Gender
 Where BodyStatId=@BodyStatId
End

GO
/****** Object:  StoredProcedure [dbo].[spSaveUser]    Script Date: 4/29/2019 8:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSaveUser]
@UserID int,
@FirstName nvarchar(50),  
@LastName nvarchar(50),  
@Email nvarchar(50),
@Password  nvarchar(50)
as  
Begin  
 Update  dbo.[User]
 Set 
 FirstName=@FirstName,
 LastName= @LastName,
 Email= @Email,
 Password= @Password 
 WHERE UserID = @UserID
End
GO
USE [master]
GO
